*.class
*.log

.cache
.history
.lib/
/cdk
/aws-cdk-tests
.vscode/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.bloop
.metals
metals.sbt
template.yaml

.bsp
.idea*
.java-version

file-uploads
