*.class
*.log

.cache
.history
.env/
.lib/
/cdk
/aws-cdk-tests
.vscode/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.bloop
.metals
metals.sbt
.sbt
template.yaml
aws-lambda-cats-effect-template.yaml
aws-lambda-zio-template.yaml
.scala-build

.bsp
.idea*
.java-version

file-uploads
