package sttp.tapir.internal

private[tapir] object ParamsToSeq {
  def apply[T](a: Any): Seq[_] = {
    a match {
      [2..#case ([#v1#]) => Seq([#v1#])#
      ]
      case v1                       => Seq(v1) // single value is a catch-all so must be last
    }
  }
}
