openapi: 3.0.3
servers:
  - url: /v3
info:
  description: File for testing json roundtripping of oneOf defns in scala 2.x with circe
  version: 1.0.20-SNAPSHOT
  title: OneOf Json test for scala 2
tags: [ ]
paths:
  '/binary/test':
    get:
      security:
        - petstore_auth:
            - write:pets
            - read:pets
        - BearerAuth: [ ]
      responses:
        "200":
          description: "Response CSV body"
          content:
            application/octet-stream:
              schema:
                description: "csv file"
                type: string
                format: binary
    post:
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: string
      requestBody:
        required: true
        description: Upload a csv
        content:
          application/octet-stream:
            schema:
              description: "csv file"
              type: string
              format: binary
      security:
        - petstore_auth:
            - write:pets
            - read:pets
  '/optional/test':
    post:
      responses:
        '200':
          description: an optional response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NullableThingy'
      requestBody:
        required: true
        description: an optional request body (nullable)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NullableThingy2'
    put:
      responses:
        '200':
          $ref: '#/components/responses/optionalityTest'
      requestBody:
        $ref: '#/components/requestBodies/optionalityTest'
  '/adt/test':
    post:
      security:
        - api_key: [ ]
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ADTWithDiscriminator'
      requestBody:
        required: true
        description: Update an existent user in the store
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ADTWithDiscriminatorNoMapping'
    put:
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ADTWithoutDiscriminator'
      requestBody:
        required: true
        description: Update an existent user in the store
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ADTWithoutDiscriminator'
  '/inline/enum/test':
    post:
      parameters:
        - name: query-enum
          in: query
          description: An enum, inline, in a query string
          required: true
          schema:
            type: string
            default: bar1
            enum:
              - bar1
              - bar2
              - bar3
        - name: query-opt-enum
          in: query
          description: An optional enum, inline, in a query string
          required: false
          schema:
            type: string
            enum:
              - bar1
              - bar2
              - bar3
        - name: query-seq-enum
          in: query
          description: A sequence of enums, inline, in a query string
          required: true
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - baz1
                - baz2
                - baz3
              default: baz2
        - name: query-opt-seq-enum
          in: query
          description: An optional sequence of enums, inline, in a query string
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - baz1
                - baz2
                - baz3
              default: baz2
      responses:
        '204':
          description: No Content
      requestBody:
        required: true
        description: Check inline enums
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectWithInlineEnum'
  '/oneof/error/test':
    get:
      responses:
        "204":
          description: "No response"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        default:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleError'

  '/oneof/option/test':
    get:
      responses:
        "204":
          description: "No response"
        "200":
          description: An object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectWithInlineEnum'
        "201":
          description: Another object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectWithInlineEnum2'

  '/inline/simple/object':
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - foo
              properties:
                foo:
                  type: string
                bar:
                  type: string
                  format: uuid
      responses:
        "200":
          description: An object
          content:
          application/json:
            schema:
              type: object
              required:
                - foo
              properties:
                foo:
                  type: string
                bar:
                  type: string
                  format: uuid
    put:
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - foo
              properties:
                foo:
                  type: string
                bar:
                  type: string
                  format: uuid
      responses:
        "200":
          description: An object
          content:
            multipart/form-data:
              schema:
                type: object
                required:
                  - foo
                properties:
                  foo:
                    type: string
                  bar:
                    type: string
                    format: uuid
        "400":
          description: application/octet-stream in error position
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/NotNullableThingy'
        "401":
          description: application/octet-stream in error position 2
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/NotNullableThingy'
    delete:
      responses:
        "200":
          description: empty response 1
        "201":
          description: empty response 2
        "401":
          description: empty response 3
        "402":
          description: empty response 4
    patch:
      requestBody:
        description: list type in
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListType'
      responses:
        "200":
          description: list type out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListType'
        "400":
          description: list type error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListType'


components:
  responses:
    optionalityTest:
      description: a non-optional response body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotNullableThingy'
  requestBodies:
    optionalityTest:
      required: false
      description: an optional request body (not required)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotNullableThingy'
  securitySchemes:
    petstore_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://petstore3.swagger.io/oauth/authorize
          scopes:
            "write:pets": modify pets in your account
            "read:pets": read your pets
    api_key:
      type: apiKey
      name: api_key
      in: header
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ADTWithDiscriminator:
      type: object
      oneOf:
        - $ref: '#/components/schemas/SubtypeWithD1'
        - $ref: '#/components/schemas/SubtypeWithD2'
      discriminator:
        propertyName: type
        mapping:
          'SubA': '#/components/schemas/SubtypeWithD1'
          'SubB': '#/components/schemas/SubtypeWithD2'
    # This has the same members as ADTWithDiscriminator, to test that we can extend multiple sealed traits in our ADT mappings
    ADTWithDiscriminatorNoMapping:
      type: object
      oneOf:
        - $ref: '#/components/schemas/SubtypeWithD1'
        - $ref: '#/components/schemas/SubtypeWithD2'
      discriminator:
        propertyName: noMapType
    SubtypeWithD1:
      type: object
      required:
        - type
        - s
      properties:
        type:
          type: string
        s:
          type: string
        i:
          type: integer
        d:
          type: number
          format: double
    SubtypeWithD2:
      type: object
      required:
        - type
        - s
      properties:
        type:
          type: string
        s:
          type: string
        a:
          type: array
          items:
            type: string
    ADTWithoutDiscriminator:
      type: object
      oneOf:
        ## A 'SubtypeWithoutD1' with only 'a' and 'd' fields set could be decoded as either a SubtypeWithoutD2 or SubtypeWithoutD3,
        ## and so must be defined first here, or else we'd fail validation
        - $ref: '#/components/schemas/SubtypeWithoutD1'
        - $ref: '#/components/schemas/SubtypeWithoutD2'
        - $ref: '#/components/schemas/SubtypeWithoutD3'
    SubtypeWithoutD1:
      type: object
      required:
        - s
        - a
      properties:
        s:
          type: string
        i:
          type: integer
        a:
          type: array
          items:
            type: string
        absent:
          type: string
    SubtypeWithoutD2:
      type: object
      required:
        - a
      properties:
        a:
          type: array
          items:
            type: string
        absent:
          type: string
    SubtypeWithoutD3:
      type: object
      required:
        - s
      properties:
        s:
          type: string
        i:
          type: integer
        e:
          $ref: '#/components/schemas/AnEnum'
        absent:
          type: string
    AnEnum:
      type: string
      default: Foo
      enum:
        - Foo
        - Bar
        - Baz
    ObjectWithInlineEnum:
      title: ObjectWithInlineEnum
      required:
        - id
        - inlineEnum
      type: object
      properties:
        id:
          type: string
          format: uuid
        inlineEnum:
          type: string
          default: foo3
          enum:
            - foo1
            - foo2
            - foo3
            - foo4
    ObjectWithInlineEnum2:
      title: ObjectWithInlineEnum2
      required:
        - inlineEnum
      type: object
      properties:
        inlineEnum:
          type: string
          enum:
            - bar1
            - bar2
    AnyObjectWithInlineEnum:
      title: AnyObjectWithInlineEnum
      oneOf:
        - $ref: '#/components/schemas/ObjectWithInlineEnum'
        - $ref: '#/components/schemas/ObjectWithInlineEnum2'
    Error:
      title: Error
      type: object
      oneOf:
        - $ref: '#/components/schemas/NotFoundError'
        - $ref: '#/components/schemas/SimpleError'
    NotNullableThingy:
      title: NotNullableThingy
      type: object
      required:
        - uuid
      properties:
        uuid:
          type: string
          format: uuid
    NullableThingy:
      title: NullableThingy
      type: object
      nullable: true
      required:
        - uuid
      properties:
        uuid:
          type: string
          format: uuid
    NullableThingy2:
      title: NullableThingy2
      type:
        - object
        - "null"
      required:
        - uuid
      properties:
        uuid:
          type: string
          format: uuid
    NotFoundError:
      title: NotFoundError
      required:
        - reason
      type: object
      properties:
        reason:
          type: string
    SimpleError:
      title: SimpleError
      required:
        - message
      type: object
      properties:
        message:
          type: string
    ListType:
      title: ListType
      type: array
      items:
        type: string